html,body,div,span,p,h1,h2,h3,h4,{
	margin: 0;
	padding: 0;
}

div.canvas{
	background-color: #C3D9FF; /* Gmail blue */
	width: 800px;
	height: 600px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

div.canvas span.save{
	width:24px;
	height:24px;
	display: block;
	background-image: url("../img/TWG_Retina_Icons/save_24.png");
	position: relative;
	left:97%;
	top:2;
	margin:0;
	cursor: pointer;
}
div.canvas span.load{
	width:24px;
	height:24px;
	display: block;
	background-image: url("../img/TWG_Retina_Icons/folder_24.png");
	position: relative;
	left:97%;
	top:2px;
	margin:0;
	cursor: pointer;
}

div.note{
	background-color: #FFFF88; /* Interactive action yellow */
	width: 160px;
	height: 160px;
	font-family: Arial;
	font-size: 18px;
	text-align: center;
	/*border: 1px solid #F3C138;*/
	/*position: absolute;*/

	-moz-box-shadow: inset 0 0 5px #888;
	-webkit-box-shadow: inset 0 0 5px#888;
	box-shadow: inner 0 0 5px #888;
}

div.note span.delete_icon{
	width:24px;
	height:24px;
	display: block;
	background-image: url("../img/TWG_Retina_Icons/delete_24_red.png");
	position: absolute;
	left: 135;
	top:2;
	margin:0;
	cursor: pointer;
	display: none;
}

div.note span.resize_icon{
	width:24px;
	height:24px;
	display: block;
	background-image: url("../img/TWG_Retina_Icons/resize_24.png");
	position: absolute;
	left: 2;
	top:2;
	margin:0;
	cursor: pointer;
	display: none;
}

div.note span.color_icon{
	width:24px;
	height:24px;
	display: block;
	background-image: url("../img/TWG_Retina_Icons/paint_24.png");
	position: absolute;
	left: 65;
	top:2;
	margin:0;
	cursor: pointer;
	display: none;
}

div.note span.text{
	margin: auto;
	vertical-align: middle;
	text-align: center;
	position: absolute;
	top: 40%;
}

.ui-draggable-dragging{
	/*-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;*/

	-moz-box-shadow: 0 0 3px 3px #888;
	-webkit-box-shadow: 0 0 3px 3px#888;
	box-shadow: 0 0 3px 3px #888;

	/*-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;*/
}

div.note span{
	text-align: center;
}
div.note span input/*[type=text]*/{
	font-size:20px;
	border: 0px solid;
	background-color: transparent;
	text-align: center;
	position: relative;
	color: inherit;
	font-weight:bold;
}

div.note textarea{
	font-size:20px;
	border: 0px solid;
	background-color: transparent;
	text-align: center;
	position: absolute;
	width:100px;
	height:100px;
	left:-50px;
	top:-30px;
	color: inherit;
	font-weight:bold;
	outline: none;
	resize:none;
	padding: 1px auto;
	vertical-align:middle;
	overflow: auto;
}

div.instructions{
	position: absolute;
	left:800px;
	top:100px;
	font-size: 18px;
}


/*************NOTE STYLES***************/
div.yellow{
	background-color: #FFFF88; /* Interactive action yellow */
}

div.pink{
	background-color: #FF0084; /* Flickr Pink */
	border-color: #fb00ff;
	color: #fffb00;
}
div.pink span.delete_icon{
	background-image: url("../img/TWG_Retina_Icons/delete_24_yellow.png");
}